* {
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  background-color: black;
  color: white;
  min-height: 100svh;
  border: 1px solid white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  background-color: rgb(29, 29, 28);
}
h1 {
  text-align: center;
  margin-top: 50px;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 40px;
}
span {
  font-weight: 700;
  color: rgb(231, 17, 17);
}

p {
  max-width: 450px;
  margin-inline: auto;
}
body {
  height: 1px;
}
